html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.input-group input {
    width: 320px !important;
    margin-right: 16px;
}

.mt-72{
    margin-top: 72px !important;
}